<!DOCTYPE html>
<html>

<head>
	<title>
    Remote Jobs
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Remote Jobs</h1>
  </header>
  <main>
    <form action="/read">
      <h4>Search by term</h4>
        <input type="text" name="term" placeholder="i,e python"/> 
      <button type="submit">Search!</button>
    </form>
    <form action="/login">
      <h4>What's your name?</h4>
        <input type="text" name="term" placeholder="i,e JUN"/> 
      <button type="submit">Enter!</button>
    </form>
  </main>
</body>

</html>